label {
  display: block;
  font-size: 16px;
  cursor: pointer;
}
input {
  padding: 16px 26px;
  border-radius: 20px;
}
textarea {
  padding: 30px 27px;
  border-radius: 14px;
}
input, textarea {
  width: 100%;
}